<form method="get" action="..\Ogrenci\Kaydet3>
    <table>
        <tr>
            <td>Ad</td>
            <td>:</td>
            <td><input type="text" name="OgrAd" /></td>
        </tr>
        <tr>
            <td>Soyad</td>
            <td>:</td>
            <td><input type="text" name="OgrSoyad" /></td>
        </tr>
        <tr>
            <td>Numara</td>
            <td>:</td>
            <td><input type="text" name="OgrNo" /></td>
        </tr>
        <tr>
            <td colspan="3"><input type="submit" value="Gonder" /></td>
        </tr>

    </table>
</form>