@model TagHelper.Models.Ogrenci

@{
    ViewData["Title"] = "OgrEkle2";
}

<h1>OgrEkle2</h1>

<h4>Ogrenci</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="OgrEkle2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OgrAd" class="control-label"></label>
                <input asp-for="OgrAd" class="form-control" />
                <span asp-validation-for="OgrAd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OgrSoyad" class="control-label"></label>
                <input asp-for="OgrSoyad" class="form-control" />
                <span asp-validation-for="OgrSoyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OgrNo" class="control-label"></label>
                <input asp-for="OgrNo" class="form-control" />
                <span asp-validation-for="OgrNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sehirler" class="control-label"></label>
                <input asp-for="Sehirler" class="form-control" />
                <span asp-validation-for="Sehirler" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DogumTarihi" class="control-label"></label>
                <input asp-for="DogumTarihi" class="form-control" />
                <span asp-validation-for="DogumTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
