@{
    ViewData["Title"] = "Home Page";
}

<form action="\Home\Kaydet" method="post">
    Ad: <input type="text" name="OgrAd"/> <br />
    Soyad: <input type="text" name="OgrSoyad" /> <br />
    No: <input type="text" name="OgrNo" /> <br />
    <input type="submit" value="Formu Gonder" />
</form>
