@model Ogrenci

<table>
    <tr>
        <td>Ogrenci Ad</td>
        <td>@Model.OgrAd</td>
    </tr>
    <tr>
        <td>Ogrenci Soyad</td>
        <td>@Model.OgrSoyad</td>
    </tr>
    <tr>
        <td>Ogrenci No</td>
        <td>@Model.OgrNo</td>
    </tr>
</table>